.backToMainPage {
  max-width: 81%;
  margin: 30px auto 0 auto;
}
.backToMainPage .button-box {
  width: 140px;
  height: 40px;
}
.backToMainPage .button-box button {
  width: 100%;
  height: 100%;
  border-radius: 0;
  color: #292929;
  border: solid #D5DBE0 1px;
}
.backToMainPage .button-box button .button-box__text {
  margin-left: 5px;
  font-size: 17px;
}
.backToMainPage .button-box button:hover {
  color: #fff;
}
.converation-box {
  margin: 20px 0;
  max-width: 81%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
  background-color: #FFFFFF;
  border: solid #D5DBE0 1px;
  padding: 20px;
}
.converation-box .message-item {
  width: 80%;
  min-height: 50px;
  border: solid #D5DBE0 1px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #5f72d7;
  padding: 15px;
}
.converation-box .message-item .message-item__sender-name {
  font-size: 1.2em;
  font-weight: bold;
  float: left;
}
.converation-box .message-item .message-item__created-date {
  float: right;
}
.converation-box .message-item .message-item__content {
  width: 100%;
  clear: both;
}
.converation-box .message-item__my-message {
  float: left;
}
.converation-box .message-item__your-message {
  float: right;
  background-color: #8fa5fa;
}
.converation-box .answer-box {
  width: 100%;
  min-height: 50px;
  border-top: solid #D5DBE0 1px;
  margin-top: 30px;
  padding-top: 15px;
}
.converation-box .answer-box .form-group {
  width: calc(100% - 100px);
  float: left;
}
.converation-box .answer-box .form-group .answer-box__label {
  font-weight: bold;
  font-size: 1.2em;
}
.converation-box .answer-box .answer-box__button {
  float: left;
  width: 100px;
  height: 100%;
}
.converation-box .answer-box .answer-box__button button {
  width: 100px;
  height: 100px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.converation-box .answer-box .answer-box__button button .svg-inline--fa {
  width: 100%;
  height: 100%;
  padding: 45px 35px 15px 30px;
}
@media (max-width: 980px) {
  .converation-box,
  .backToMainPage {
    max-width: 92%;
  }
}
