<body>
  <header>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button class="hamburger-menu" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1 class="title" [routerLink]='["/"]'>Estate Agency</h1>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>

  <mat-sidenav-container>
    <mat-sidenav #sidenav>
          <app-nav-menu></app-nav-menu>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="main-content" style="height: 93vh;"> <!--88-->
        <main>
          <router-outlet></router-outlet>
        </main>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</body>
