<body>
  <header>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button class="hamburger-menu" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1 class="title" [routerLink]='["/"]'>{{ this.title }}</h1>
        <div class="dropdown user-menu">
          <button mat-icon-button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
          </button>
          <app-user-menu></app-user-menu>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>

  <mat-sidenav-container>
    <mat-sidenav #sidenav>
          <app-nav-menu (sidenavToggle)="sidenav.toggle()"></app-nav-menu>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="main-content">
        <main>
          <router-outlet></router-outlet>
        </main>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</body>
