body header {
  height: 6vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
body header .hamburger-menu {
  outline: none;
}
body header .title {
  margin-left: 10px;
  outline: none;
  cursor: pointer;
}
body header .user-menu {
  position: absolute;
  right: 0;
  margin-right: 15px;
}
body header .user-menu button {
  outline: none;
}
body .mat-drawer {
  position: fixed;
  bottom: 0;
  top: 56px;
}
body .mat-sidenav {
  height: 100vh;
}
body .mat-sidenav-content {
  min-height: 100vh;
  padding-top: 64px;
}
@media (max-width: 599px) {
  .mat-drawer {
    top: 48px !important;
  }
  .mat-sidenav-content {
    padding-top: 56px !important;
  }
}
