.title{
  margin-left: 10px;
  outline: none;
  cursor: pointer;
}

.hamburger-menu{
  outline: none;
}

.user-menu {
  outline: none;
  position: absolute;
  right: 0;
  margin-right: 15px;
}

.main-content {
  padding: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('src/assets/images/estateAgency.jpg');
}
