.table {
  font-size: 18px;

  td, th {
    border: none;
    padding: 10px;
    word-wrap: break-word;
  }

  tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-bottom: solid #D5DBE0 1px;
  }

  tr:last-child {
    border-bottom: none;
  }

  .name {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .email {
    width: calc(~"100% - 430px");
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .button {
    width: 130px;
  }
}

@media (max-width: 1199px) {
  .table {
    .name {
      width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .email {
      width: calc(~"100% - 330px");
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .button {
      width: 130px;
    }
  }
}
