.table {
  font-size: 18px;
}
.table td,
.table th {
  border: none;
  padding: 10px;
  word-wrap: break-word;
}
.table tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-bottom: solid #D5DBE0 1px;
}
.table tr:last-child {
  border-bottom: none;
}
.table .main-data {
  width: calc(100% - 150px);
}
.table .main-data .main-data__name,
.table .main-data .main-data__email {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table .buttons {
  width: 150px;
  text-align: center;
}
.table .buttons button {
  height: 25px;
  font-size: 15px;
}
.table .buttons .btn {
  padding: 0 10px;
}
.table .buttons .buttons__password,
.table .buttons .buttons__lock {
  width: 100%;
  text-align: center;
}
/*@media (max-width: 1199px) {
  .table {
    .name {
      width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .email {
      width: calc(~"100% - 330px");
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .button {
      width: 130px;
    }
  }
}


@media (max-width: 767px) {
  table {
    .name {
      width: auto;
    }
    .email {
      width: 0;
      display: none;
    }
    .button {
      width: 130px;
      float: right;
    }
  }
}*/
