<nav>
  <mat-nav-list class="min-width-menu">
    <a mat-list-item [routerLink]="'/'"> Home </a>
    <a *ngIf="!this.isLoggedIn()" mat-list-item [routerLink]="'/login'"> Login / Register </a>
    <a *ngIf="this.isLoggedIn()" mat-list-item [routerLink]="'/advertisement/create'"> Create Advertisement </a>
    <a *ngIf="this.isLoggedIn()" mat-list-item [routerLink]="'/'" (click)="logout()"> Logout </a>

    <!--<a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>-->
  </mat-nav-list>
</nav>
