<div class="admin-panel-box">
  <h1 class="title">Panel Administratora</h1>
  <hr>
  <div class="row">
    <div class="col-xl-2 col-md-3 mb-3">
      <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="management-tab" data-toggle="tab" href="#userManagement" role="tab" aria-controls="userManagement" aria-selected="true">Użytkownicy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="otherFunctionality-tab" data-toggle="tab" href="#otherFunctionality" role="tab" aria-controls="otherFunctionality" aria-selected="false">Ogłoszenia</a>
        </li>
      </ul>
    </div>
    <div class="col-xl-10 col-md-9">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="userManagement" role="tabpanel" aria-labelledby="management-tab">
          <!--<app-user-register></app-user-register>-->
        </div>
        <div class="tab-pane fade" id="otherFunctionality" role="tabpanel" aria-labelledby="otherFunctionality-tab">
          <h2>Other functionality</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eveniet earum. Sed accusantium eligendi molestiae quo hic velit nobis et, tempora placeat ratione rem blanditiis voluptates vel ipsam? Facilis, earum!</p>
        </div>
      </div>
    </div>
  </div>
</div>



