<div class="h-100 mt-3">
  <div class="row justify-content-center align-items-center m-auto change-password-form">
    <div class="card rounded shadow bg-white w-100">
      <div class="card-body">
        <img id="change-password-img" class="change-password-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <div class="list-header-title">Zmiana Hasła Użytkownika</div>
        <div class="alert alert-danger" *ngIf="changePasswordForm.errors?.changePassword" role="alert">
          {{changePasswordForm.errors.changePassword}}
        </div>
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Aktualne hasło</label>
                <input type="password"
                       formControlName="password"
                       class="form-control"
                       [ngClass]="{'is-invalid':hasError('password')}"
                       required
                       autocomplete="password">
                <div *ngIf="hasError('password')" class="invalid-feedback">
                  Hasło musi zawierać od 8 do 30 lister, conajmniej jedna dużą litere, znak specjalny oraz liczbę
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Nowe hasło</label>
                <input type="password"
                       formControlName="passwordNew"
                       class="form-control"
                       [ngClass]="{'is-invalid':hasError('passwordNew')}"
                       required
                       autocomplete="passwordNew">
                <div *ngIf="hasError('passwordNew')" class="invalid-feedback">
                  Hasło musi zawierać od 8 do 30 lister, conajmniej jedna dużą litere, znak specjalny oraz liczbę
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Powtórz nowe hasło</label>
                <input type="password"
                       formControlName="passwordConfirm"
                       class="form-control"
                       [ngClass]="{'is-invalid':hasError('passwordConfirm')}"
                       required
                       autocomplete="passwordConfirm">

                <div *ngIf="f.passwordConfirm.errors" class="invalid-feedback">
                  <div *ngIf="f.passwordConfirm.errors?.required">
                    To pole jest wymagane
                  </div>
                  <div *ngIf="f.passwordConfirm.errors?.mustMatch">
                    Hasła muszą być takie same
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input type="submit"
                     class="btn btn-primary btn-lg btn-block mt-3"
                     [disabled]="!changePasswordForm.value.passwordNew || !changePasswordForm.value.password || !changePasswordForm.value.passwordConfirm"
                     value="Zmień hasło">
            </div>
          </div>
        </form>
        <hr />
        <div class="col-md-12 p-0 mt-3">
          <button type="submit" class="btn btn-light btn-lg btn-block" value="Anuluj" (click)="routeToHome()">Anuluj</button>
        </div>
      </div>
    </div>
  </div>
</div>
