<div class="backToMainPage">
  <app-back-to-page [dateToReturn]="this.dateToReturn" ></app-back-to-page>
</div>

<div class="advertisement-create-box">
  <form [formGroup]="createAdvertisementForm">
    <div class="create-content-box">

      <div class="title-box__name">
        <label>Tytuł</label>
      </div>
      <div class="caterogy-box__name">
        <label>Kategoria</label>
      </div>
      <div class="description-box__name">
        <label>Opis</label>
      </div>
      <div class="yardage-box__name">
        <label>Metraż</label>
      </div>
      <div class="numberOfRoom-box__name">
        <label>Liczba pokoi</label>
      </div>
      <div class="price-box__name">
        <label>Cena</label>
      </div>
      <div class="city-box__name">
        <label>Miasto</label>
      </div>
      <div class="address-box__name">
        <label>Adres</label>
      </div>
      <div class="photos-box__name">
        <label>Zdjecia</label>
      </div>

      <div class="dividing-line">
        <div class="line"></div>
      </div>

      <div class="title-box__content form-group">
        <input type="text"
               class="form-control"
               name="title"
               required
               formControlName="title"
               autocomplete="title"
               [ngClass]="{'is-invalid':hasError('title')}">
        <div *ngIf="hasError('title')" class="invalid-feedback">Tytuł musi zawierać od 2 do 50 znaków</div>
      </div>

      <div class="caterogy-box__content form-group">
        <select class="form-control"
                id="category"
                formControlName="category"
                autocomplete="category">
          <option>Mieszkania</option>
          <option>Domy</option>
          <option>Domek letniskowy</option>
          <option>Inne</option>
        </select>
      </div>

      <div class="description-box__content form-group">
        <textarea class="form-control"
                  id="description"
                  rows="3"
                  formControlName="description"
                  autocomplete="description"
                  [ngClass]="{'is-invalid':hasError('description')}"></textarea>
        <div *ngIf="hasError('description')" class="invalid-feedback">Opis musi zawierać od 2 do 1000 znaków</div>
      </div>

      <div class="yardage-box__content form-group">
        <input type="text"
               class="form-control"
               name="yardage"
               required
               formControlName="yardage"
               autocomplete="yardage"
               [ngClass]="{'is-invalid':hasError('yardage')}">
        <div *ngIf="hasError('yardage')" class="invalid-feedback">Podana wartość musi być liczba całkowita</div>
      </div>

      <div class="numberOfRoom-box__content form-group">
        <input type="text"
               class="form-control"
               name="numberOfRoom"
               required
               formControlName="numberOfRoom"
               autocomplete="numberOfRoom"
               [ngClass]="{'is-invalid':hasError('numberOfRoom')}">
        <div *ngIf="hasError('numberOfRoom')" class="invalid-feedback">Podana wartość musi być liczba całkowita</div>
      </div>

      <div class="price-box__content form-group">
        <input type="text"
               class="form-control"
               name="price"
               required
               formControlName="price"
               autocomplete="price"
               [ngClass]="{'is-invalid':hasError('price')}">
        <div *ngIf="hasError('price')" class="invalid-feedback">Podana wartość musi być liczba całkowita</div>
      </div>

      <div class="city-box__content form-group">
        <input type="text"
               class="form-control"
               name="city"
               required
               formControlName="city"
               autocomplete="city"
               [ngClass]="{'is-invalid':hasError('city')}">
        <div *ngIf="hasError('city')" class="invalid-feedback">Nazwa miasta musi rozpoczynać się wielką literą</div>
      </div>

      <div class="address-box__content form-group">
        <input type="text"
               class="form-control"
               name="address"
               required
               formControlName="address"
               autocomplete="address"
               [ngClass]="{'is-invalid':hasError('address')}">
        <div *ngIf="hasError('address')" class="invalid-feedback">Wpisz poprawny adres, np: Towarowa 21/11</div>
      </div>

      <div class="photos-box__content">
        <div *ngFor="let selectedFile of selectedFileList; let i = index" class="add-photo-area">
          <div class="img-preview-container">
            <div class="img-preview"
                 [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}"
                 id="{{ i }}"
                 (click)="removeImage(i)">
              <i class="fas fa-trash-alt"></i>
            </div>
          </div>
        </div>
        <div *ngIf="selectedFileList.length < 8" class="add-photo-area">
          <button (click)="file.click()">
            <i class="fas fa-plus"></i>
          </button>
          <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;" multiple accept=".jpg,.jpeg,.png">
        </div>
      </div>

      <div class="button-box">
        <div class="button-box__area">
          <button type="submit"
                  class="btn btn-sm btn-primary"
                  [disabled]="!(createAdvertisementForm.value.title &&
               createAdvertisementForm.value.category &&
               createAdvertisementForm.value.description &&
               createAdvertisementForm.value.yardage &&
               createAdvertisementForm.value.numberOfRoom &&
               createAdvertisementForm.value.city &&
               createAdvertisementForm.value.address)"
                  (click)="createAdvertisement()">
            Utwórz <span id="button-box__text2">Ogłoszenie</span>
          </button>

          <button type="submit"
                  class="btn btn-sm btn-outline-secondary"
                  [routerLink]="['/home']">
            Anuluj
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
