.backToMainPage {
  max-width: 81%;
  margin: 30px auto 0 auto;
}
.backToMainPage .button-box {
  width: 140px;
  height: 40px;
}
.backToMainPage .button-box button {
  width: 100%;
  height: 100%;
  border-radius: 0;
  color: #292929;
  border: solid #D5DBE0 1px;
}
.backToMainPage .button-box button .button-box__text {
  margin-left: 5px;
  font-size: 17px;
}
.backToMainPage .button-box button:hover {
  color: #fff;
}
.advertisement-create-box {
  margin: 20px 0;
  max-width: 81%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
  background-color: #FFFFFF;
  border: solid #D5DBE0 1px;
  width: 100%;
}
.advertisement-create-box .create-content-box {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 40px calc(80% - 40px);
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  grid-auto-flow: row;
  padding: 30px;
}
.advertisement-create-box .create-content-box .title-box__name {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: right;
  min-height: 50px;
}
.advertisement-create-box .create-content-box .caterogy-box__name {
  grid-column: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: right;
  min-height: 50px;
}
.advertisement-create-box .create-content-box .description-box__name {
  grid-column: 1;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: right;
  min-height: 100px;
}
.advertisement-create-box .create-content-box .yardage-box__name {
  grid-column: 1;
  grid-row-start: 4;
  grid-row-end: 5;
  text-align: right;
  min-height: 50px;
}
.advertisement-create-box .create-content-box .numberOfRoom-box__name {
  grid-column: 1;
  grid-row-start: 5;
  grid-row-end: 6;
  text-align: right;
  min-height: 50px;
}
.advertisement-create-box .create-content-box .price-box__name {
  grid-column: 1;
  grid-row-start: 6;
  grid-row-end: 7;
  text-align: right;
  min-height: 50px;
}
.advertisement-create-box .create-content-box .city-box__name {
  grid-column: 1;
  grid-row-start: 7;
  grid-row-end: 8;
  text-align: right;
  min-height: 50px;
}
.advertisement-create-box .create-content-box .address-box__name {
  grid-column: 1;
  grid-row-start: 8;
  grid-row-end: 9;
  text-align: right;
  min-height: 50px;
}
.advertisement-create-box .create-content-box .photos-box__name {
  grid-column: 1;
  grid-row-start: 9;
  grid-row-end: 10;
  text-align: right;
  min-height: 100px;
}
.advertisement-create-box .create-content-box .dividing-line {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 10;
}
.advertisement-create-box .create-content-box .dividing-line .line {
  width: 50%;
  height: 100%;
  border-right: solid #D5DBE0 2px;
  margin: 10px 0;
}
.advertisement-create-box .create-content-box .title-box__content {
  grid-column: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  min-height: 50px;
}
.advertisement-create-box .create-content-box .caterogy-box__content {
  grid-column: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  min-height: 50px;
}
.advertisement-create-box .create-content-box .description-box__content {
  grid-column: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  min-height: 100px;
}
.advertisement-create-box .create-content-box .yardage-box__content {
  grid-column: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  min-height: 50px;
}
.advertisement-create-box .create-content-box .numberOfRoom-box__content {
  grid-column: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  min-height: 50px;
}
.advertisement-create-box .create-content-box .price-box__content {
  grid-column: 3;
  grid-row-start: 6;
  grid-row-end: 7;
  min-height: 50px;
}
.advertisement-create-box .create-content-box .city-box__content {
  grid-column: 3;
  grid-row-start: 7;
  grid-row-end: 8;
  min-height: 50px;
}
.advertisement-create-box .create-content-box .address-box__content {
  grid-column: 3;
  grid-row-start: 8;
  grid-row-end: 9;
  min-height: 50px;
}
.advertisement-create-box .create-content-box .photos-box__content {
  grid-column: 3;
  grid-row-start: 9;
  grid-row-end: 10;
  min-height: 100px;
}
.advertisement-create-box .create-content-box .button-box {
  grid-column: 3;
  grid-row-start: 10;
  grid-row-end: 11;
}
.advertisement-create-box .create-content-box .button-box input {
  float: right;
}
@media (max-width: 980px) {
  .backToMainPage,
  .advertisement-create-box {
    max-width: 92%;
  }
}
.upload {
  font-weight: bold;
  color: #28a745;
  margin-left: 15px;
  line-height: 36px;
}
