.login-form {
  max-width: 600px;
  width: 100%;
}
.login-form .login-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  border-radius: 50%;
}
.login-form .list-header-title {
  color: rgba(0, 0, 0, 0.54);
  background: rgba(0, 0, 0, 0.03);
  padding: 8px 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}
