<div class="medium-list">
  <div class="list-viewer-wrapper">
    <img id="login-img" class="login-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <div class="list-header-title">User Login</div>

    <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onLoginSubmit()" novalidate>
      <div class="form-container">
        <mat-form-field>
          <input id="email"
                 matInput
                 formControlName="email"
                 placeholder="Insert email..."
                 autocomplete="email" />
          <mat-error>
            Please enter a valid email
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input id="password"
                 matInput
                 formControlName="password"
                 placeholder="Insert password..."
                 [type]="hidePassword ? 'password':'text'"
                 autocomplete="password" />
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">
            {{hidePassword ? 'visibility' : 'visibility_off'}}
          </mat-icon>
          <mat-error>
            Please enter a valid password
          </mat-error>
        </mat-form-field>

        <button mat-button type="submit" class="mat-raised-button mat-primary button-login">
          Login
        </button>
        <button mat-button routerLink="/register" class="divider">Register</button>
      </div>
    </form>
  </div>
</div>

