advertisement-list {
  width: 400px;
  display: block;
  padding: 2px 20px;
  margin: 0px 5px;
  float: left;
}

  advertisement-list.latest {
    background-color: #f0f0f0;
  }

  advertisement-list.byTitle {
    background-color: #e0e0e0;
  }

  advertisement-list.random {
    background-color: #d0d0d0;
  }
