<main>
  <section class="jumbotron text-center jumbotron-witch-search">
    <div class="container">
      <div class="title-backgroung">
        <h1 class="jumbotron-heading">Masz dość swojego domu? Sprzedaj go z nami!</h1>
        <p class="lead">
          W naszej firmie nie tylko możesz coś wystawić na sprzedaż ale i również znaleźć coś interesującego do kupienia! Poniższa wyszukiwarka Ci w tym pomoze!
        </p>
      </div>
    </div>
    <!--<app-search></app-search>-->
  </section>
  <div class="album py-5 bg-light">
    <app-advertisement-list [advertisements]="this.advertisements"></app-advertisement-list>
  </div>
</main>


