<div class="h-100 mt-3">
  <div class="row justify-content-center align-items-center m-auto register-form">
    <div class="card rounded shadow bg-white w-100">
      <div class="card-body">
        <img id="register-img" class="register-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <div class="list-header-title">Rejestracja Użytkownika</div>
        <div class="alert alert-danger" *ngIf="registerForm.errors?.register" role="alert">
          {{registerForm.errors.register}}
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Imie</label>
                <input type="text"
                       class="form-control"
                       name="displayName"
                       required
                       formControlName="displayName"
                       [ngClass]="{'is-invalid':hasError('displayName')}"
                       autocomplete="displayName">
                <div *ngIf="hasError('displayName')" class="invalid-feedback">
                  Imie musi zawierać od 2 do 20 lister oraz pierwsza z nich musi być duża
                </div>
              </div>
            </div>
          </div><div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Nazwisko</label>
                <input type="text"
                       class="form-control"
                       name="name"
                       required
                       formControlName="name"
                       [ngClass]="{'is-invalid':hasError('name')}"
                       autocomplete="name">
                <div *ngIf="hasError('name')" class="invalid-feedback">
                  Nazwisko musi zawierać od 2 do 20 lister oraz pierwsza z nich musi być duża
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>E-mail</label>
                <input type="email"
                       class="form-control"
                       name="email"
                       required
                       formControlName="email"
                       [ngClass]="{'is-invalid':hasError('email')}"
                       autocomplete="email">
                <div *ngIf="hasError('email')" class="invalid-feedback">E-mail musi zawierać znak "@"</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Hasło</label>
                <input type="password"
                       formControlName="password"
                       class="form-control"
                       [ngClass]="{'is-invalid':hasError('password')}"
                       required
                       autocomplete="password">
                <div *ngIf="hasError('password')" class="invalid-feedback">
                  Hasło musi zawierać od 8 do 30 lister, conajmniej jedna dużą litere, znak specjalny oraz liczbę
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Powtórz hasło</label>
                <input type="password"
                       formControlName="passwordConfirm"
                       class="form-control"
                       [ngClass]="{'is-invalid':hasError('passwordConfirm')}"
                       required
                       autocomplete="passwordConfirm">

                <div *ngIf="f.passwordConfirm.errors" class="invalid-feedback">
                  <div *ngIf="f.passwordConfirm.errors?.required">
                    To pole jest wymagane
                  </div>
                  <div *ngIf="f.passwordConfirm.errors?.mustMatch">
                    Hasła muszą być takie same
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input type="submit"
                     class="btn btn-primary btn-lg btn-block mt-3"
                     [disabled]="!registerForm.value.email || !registerForm.value.password || !registerForm.value.name || !registerForm.value.displayName || !registerForm.value.passwordConfirm"
                     value="Zarejestruj">
            </div>
          </div>
        </form>
        <hr />
        <div class="col-md-12 p-0 mt-3">
          <button type="submit" class="btn btn-light btn-lg btn-block" value="Sign out" (click)="routeToLogin()">Logowanie</button>
        </div>
      </div>
    </div>
  </div>
</div>
