<div class="modal fade" id="modalId" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Zmiana hasła</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="changePasswordForm">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Nowe hasło</label>
                <input type="password"
                       formControlName="passwordNew"
                       class="form-control"
                       [ngClass]="{'is-invalid':hasError('passwordNew')}"
                       required
                       autocomplete="passwordNew">
                <div *ngIf="hasError('passwordNew')" class="invalid-feedback">
                  Hasło musi zawierać od 8 do 30 liter, conajmniej jedna dużą litere, znak specjalny oraz liczbę
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Powtórz nowe hasło</label>
                <input type="password"
                       formControlName="passwordConfirm"
                       class="form-control"
                       [ngClass]="{'is-invalid':hasError('passwordConfirm')}"
                       required
                       autocomplete="passwordConfirm">

                <div *ngIf="f.passwordConfirm.errors" class="invalid-feedback">
                  <div *ngIf="f.passwordConfirm.errors?.required">
                    To pole jest wymagane
                  </div>
                  <div *ngIf="f.passwordConfirm.errors?.mustMatch">
                    Hasła muszą być takie same
                  </div>
                </div>

              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-info"
                [disabled]="!changePasswordForm.value.passwordNew || !changePasswordForm.value.passwordConfirm"
                (click)="changePassword()" id="removeButton">Zmień hasło</button>
        <button class="btn btn-outline-primary" data-dismiss="modal" name="cancel">Anuluj</button>
      </div>
    </div>
  </div>
</div>
