.container {
  max-width: 81%;
}
.container .advertisement-box .card-box {
  border-radius: 0;
  background-color: #FFFFFF;
  border: solid #D5DBE0 1px;
}
.container .advertisement-box .card-box .photo-box .card-img-top {
  border-radius: 0;
}
.container .advertisement-box .card-box .photo-box .photo-box__area {
  width: 100%;
}
.container .advertisement-box .card-box .photo-box .photo-box__area img {
  height: 225px;
  width: auto;
  max-width: 100%;
}
.container .advertisement-box .card-box .data-box .data-box__area .data-box__city {
  width: 100%;
  float: left;
  font-weight: 700;
  font-size: 1.2rem;
}
.container .advertisement-box .card-box .data-box .data-box__area .data-box__price {
  width: 100%;
  float: right;
  text-align: right;
  font-weight: 700;
  font-size: 1.2rem;
}
.container .advertisement-box .card-box .data-box .data-box__area .data-box__address {
  width: 100%;
  float: left;
}
.container .advertisement-box .card-box .data-box .data-box__area .data-box__yardage {
  width: 100%;
  float: right;
  text-align: right;
}
.container .advertisement-box .card-box .data-box .data-box__area .data-box__title {
  width: 100%;
}
.container .advertisement-box .card-box .data-box .button-box .button-box__details {
  border-radius: 0;
}
.container .advertisement-box .card-box .data-box .button-box .button-box__edit {
  border-radius: 0;
}
@media (max-width: 980px) {
  .container {
    max-width: 92%;
  }
}
